## Coursera Captstone Clustering Course 3 excercises

### click here to go to Task 1 -> <a href="#task1">Task 1<a>
### click here to go to Task 2 -> <a href="#task2">Task 2<a>
### click here to go to Task 3 -> <a href="#task3">Task 3<a>

<a id="task1"></a>

###  Task 1 - web scraping

In [41]:
import requests, csv

In [4]:
import bs4 # beautifulsoup 4 package
from bs4 import BeautifulSoup as bsoup

In [89]:
import pandas as pd

In [27]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [28]:
r = requests.get(url)

In [29]:
html = r.text

In [30]:
soup = bsoup(html,'html.parser')

In [47]:
post_codes_table = soup.find_all("table")[0]

In [90]:
temp_file = "/tmp/zipcodes.csv"
with open(temp_file,"wt") as f:
    w = csv.writer(f)
    
    for row in post_codes_table.select("tbody > tr"):
        row_text = row.get_text(",,,",strip=True).split(",,,")
        w.writerow(row_text)
        # print(row_text)

In [91]:
df = pd.read_csv(temp_file)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [92]:
df.shape

(288, 3)

In [157]:
df_valid_bor = df[df['Borough'] != "Not assigned"].reset_index(drop=True)

In [158]:
df_valid_bor.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [159]:
grp_post = df_valid_bor.groupby(by='Postcode')

In [160]:
trans = grp_post['Neighbourhood'].transform(lambda x: ",".join(x))

In [161]:
trans.shape

(211,)

In [162]:
df_valid_bor.shape

(211, 3)

In [163]:
df_valid_bor['Neigh2'] = trans
df_valid_bor.head()

,Postcode,Borough,Neighbourhood,Neigh2
0,M3A,North York,Parkwoods,Parkwoods
1,M4A,North York,Victoria Village,Victoria Village
2,M5A,Downtown Toronto,Harbourfront,"Harbourfront,Regent Park"
3,M5A,Downtown Toronto,Regent Park,"Harbourfront,Regent Park"
4,M6A,North York,Lawrence Heights,"Lawrence Heights,Lawrence Manor"

In [164]:
df_valid_bor.drop(columns=["Neighbourhood"], inplace=True)

In [165]:
df_valid_bor.head()

  Postcode           Borough                           Neigh2
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor

In [166]:
df_valid_bor.rename(columns={'Neigh2': 'Neighbourhood'}, inplace=True)

In [167]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor

In [168]:
df_valid_bor.drop_duplicates(inplace=True)

In [169]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor
6      M7A      Queen's Park                     Not assigned

In [172]:
df_valid_bor.reset_index(drop=True, inplace=True)

In [173]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [174]:
df_valid_bor.shape

(103, 3)

In [176]:
df_valid_bor['Neighbourhood'] = df_valid_bor.apply(lambda row: row['Borough'] if row['Neighbourhood'] == "Not assigned" else row['Neighbourhood'], axis=1)

In [177]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [178]:
df_valid_bor.shape

(103, 3)

<a id="task2"></a>

### Task 2 - get latitude and longitude