## Coursera Captstone Clustering Course 3 excercises

### click <a href="#task1">here</a> to go to Task 1
### click <a href="#task2">here</a> to go to Task 2
### click <a href="#task3">here</a> to go to Task 3

<a id="task1"></a>

###  Task 1 - web scraping

In [41]:
import requests, csv

In [4]:
import bs4 # beautifulsoup 4 package
from bs4 import BeautifulSoup as bsoup

In [89]:
import pandas as pd

In [27]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [28]:
r = requests.get(url)

In [29]:
html = r.text

In [30]:
soup = bsoup(html,'html.parser')

In [47]:
post_codes_table = soup.find_all("table")[0]

In [90]:
temp_file = "/tmp/zipcodes.csv"
with open(temp_file,"wt") as f:
    w = csv.writer(f)
    
    for row in post_codes_table.select("tbody > tr"):
        row_text = row.get_text(",,,",strip=True).split(",,,")
        w.writerow(row_text)
        # print(row_text)

In [91]:
df = pd.read_csv(temp_file)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [92]:
df.shape

(288, 3)

In [190]:
df_valid_bor = df[df['Borough'] != "Not assigned"].reset_index(drop=True)

In [191]:
df_valid_bor.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [193]:
grp_post = df_valid_bor.groupby(by='Postcode')

In [194]:
trans = grp_post['Neighbourhood'].transform(lambda x: ",".join(x))

In [195]:
trans.shape

(211,)

In [196]:
df_valid_bor.shape

(211, 3)

In [197]:
df_valid_bor['Neigh2'] = trans
df_valid_bor.head()

,Postcode,Borough,Neighbourhood,Neigh2
0,M3A,North York,Parkwoods,Parkwoods
1,M4A,North York,Victoria Village,Victoria Village
2,M5A,Downtown Toronto,Harbourfront,"Harbourfront,Regent Park"
3,M5A,Downtown Toronto,Regent Park,"Harbourfront,Regent Park"
4,M6A,North York,Lawrence Heights,"Lawrence Heights,Lawrence Manor"

In [198]:
df_valid_bor.drop(columns=["Neighbourhood"], inplace=True)

In [199]:
df_valid_bor.head()

  Postcode           Borough                           Neigh2
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor

In [200]:
df_valid_bor.rename(columns={'Neigh2': 'Neighbourhood'}, inplace=True)

In [201]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor

In [202]:
df_valid_bor.drop_duplicates(inplace=True)

In [203]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor
6      M7A      Queen's Park                     Not assigned

In [204]:
df_valid_bor.reset_index(drop=True, inplace=True)

In [205]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [206]:
df_valid_bor.shape

(103, 3)

In [207]:
df_valid_bor['Neighbourhood'] = df_valid_bor.apply(lambda row: row['Borough'] if row['Neighbourhood'] == "Not assigned" else row['Neighbourhood'], axis=1)

In [208]:
df_valid_bor.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [209]:
df_valid_bor.shape

(103, 3)

<a id="task2"></a>

### Task 2 - get latitude and longitude

In [180]:
import geocoder

In [211]:
df2 = df_valid_bor.copy(deep=True)

In [212]:
lats = []
longs = []
for postal_code in df2['Postcode']:

    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng

    neigh_lat = lat_lng_coords[0]
    neigh_long = lat_lng_coords[1]
    print(lat_lng_coords)
    # df2 = df2.append({'Latitude': neigh_lat, 'Longitude': neigh_long}, ignore_index=False)
    lats.append(neigh_lat)
    longs.append(neigh_long)

[43.752440000000036, -79.32927072599995]
[43.730420577000075, -79.31331999999998]
[43.65512000000007, -79.36263979699999]
[43.72312500000004, -79.45158914699994]
[43.66110229800006, -79.39103499999999]
[43.662242201000026, -79.52837877199994]
[43.811525000000074, -79.19551721399995]
[43.74919500000004, -79.36190541699995]
[43.707535000000064, -79.31177329699995]
[43.65736301100003, -79.37817999999999]
[43.70799000000005, -79.44836733199998]
[43.64969222700006, -79.55394499999994]
[43.78573000000006, -79.15874999999994]
[43.72142500000007, -79.34345278999996]
[43.68966500000005, -79.30716910999996]
[43.65121000000005, -79.37548057699996]
[43.692105179000066, -79.43035499999996]
[43.648573449000025, -79.57824999999997]
[43.76569000000006, -79.17525603599995]
[43.67684518300007, -79.29522499999996]
[43.64516015600003, -79.37367499999993]
[43.68864000000008, -79.45101525299998]
[43.76835912100006, -79.21758999999997]
[43.70976500000006, -79.36390090899994]
[43.65609081300005, -79.38492999999994]
[43.66878132800008, -79.42070999999999]
[43.76968799900004, -79.23943999999995]
[43.80284500000005, -79.35623615099996]
[43.757565000000056, -79.44819079299998]
[43.70127000000008, -79.34984401799994]
[43.649515000000065, -79.38250344699998]
[43.66508694300006, -79.43870499999997]
[43.74312500000008, -79.23174973599998]
[43.780880000000025, -79.34779577599994]
[43.764665000000036, -79.48718266299994]
[43.688765344000046, -79.33417499999996]
[43.623470000000054, -79.39150736399995]
[43.64848500000005, -79.41774150899994]
[43.726244585000074, -79.26366999999993]
[43.781015000000025, -79.38054242199996]
[43.73902625000005, -79.46731999999997]
[43.68326150000007, -79.35511999999994]
[43.64710000000008, -79.38153109899997]
[43.639410000000055, -79.42436201999999]
[43.71313321100007, -79.28505499999994]
[43.75719200000003, -79.37986499999994]
[43.74088500000005, -79.50502651899995]
[43.66796500000004, -79.31467251099997]
[43.648205000000075, -79.37879339899996]
[43.71381000000008, -79.48830541199999]
[43.75950000000006, -79.55685235299995]
[43.72357500000004, -79.23497617799995]
[43.79147500000005, -79.41360487299994]
[43.73458500000004, -79.49315062599999]
[43.662765652000076, -79.33482999999995]
[43.735460000000046, -79.41916412899997]
[43.69454500000006, -79.48464278099993]
[43.733760000000075, -79.53752189499994]
[43.69666500000005, -79.26016331599999]
[43.76816500000007, -79.40741984599998]
[43.755330601000026, -79.51958999999994]
[43.72816000000006, -79.38708518799996]
[43.711941154000044, -79.41911999999996]
[43.67582500000003, -79.48205223199994]
[43.704855000000066, -79.51755242199994]
[43.759975000000054, -79.26897402899993]
[43.74785500000007, -79.40006223799998]
[43.712815000000035, -79.38852582199996]
[43.69478500000008, -79.41440483299994]
[43.65997500000003, -79.46287357999995]
[43.696300000000065, -79.53039862799994]
[43.750710464000065, -79.30055999999996]
[43.77769500000005, -79.44579657299994]
[43.71452278400005, -79.40695999999997]
[43.674840000000074, -79.40369769099993]
[43.64787000000007, -79.44976249999996]
[43.648690000000045, -79.38543999999996]
[43.686915000000056, -79.55727609599995]
[43.79394000000008, -79.26798280099996]
[43.70339500000006, -79.38596360499997]
[43.663110000000074, -79.40180056699995]
[43.64988500000004, -79.47492879599997]
[43.78472500000004, -79.29904659999994]
[43.69065500000005, -79.38356145799997]
[43.65357000000006, -79.39724915699998]
[43.817810000000065, -79.28024362199994]
[43.68608285400006, -79.40233499999994]
[43.64081500000003, -79.39953781899999]
[43.60987000000006, -79.49817823899997]
[43.743205000000046, -79.58470131599995]
[43.80088094900003, -79.32073999999994]
[43.681940000000054, -79.37847416699998]
[43.648690000000045, -79.38543999999996]
[43.60113082100003, -79.53878499999996]
[43.71174000000008, -79.57918134599998]
[43.83421500000003, -79.21670085099998]
[43.66816000000006, -79.36660236199998]
[43.64828000000006, -79.38146082599997]
[43.65369000000004, -79.51111717299995]
[43.666585000000055, -79.38130203699995]
[43.648690000000045, -79.38543999999996]
[43.63276500000006, -79.48960141199996]
[43.624630000000025, -79.52694976199996]

In [213]:
df2.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [214]:
df2['Latitude'] = lats

In [215]:
df2['Longitude'] = longs

In [216]:
df2.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.752440,-79.329271
1,M4A,North York,Victoria Village,43.730421,-79.313320
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.655120,-79.362640
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.723125,-79.451589
4,M7A,Queen's Park,Queen's Park,43.661102,-79.391035

In [217]:
df2.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
98,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North",43.653690,-79.511117
99,M4Y,Downtown Toronto,Church and Wellesley,43.666585,-79.381302
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.648690,-79.385440
101,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout...",43.632765,-79.489601
102,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw...",43.624630,-79.526950

In [219]:
df2.shape

(103, 5)

In [233]:
df2.dtypes

Postcode          object
Borough           object
Neighbourhood     object
Latitude         float64
Longitude        float64
dtype: object

<a id="task3"></a>

### Task 3 - Clustering